@model Wollo.Web.Models.ApplicationRoleModel

@{
    ViewBag.Title = @Html.DisplayNameFor(model => model.edit_role);
}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <b>@Html.LabelFor(model => model.edit_role)</b>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> <b>@Html.LabelFor(model => model.dashboard_edit_role)</b>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container-fluid">

            <div class="col-lg-12 space">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x => x.ApplicationRole.Id)
                        <div class="form-group">
                            @Html.LabelFor(x => x.name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.ApplicationRole.Name, new { @class = "form-control", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(x => x.ApplicationRole.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value=@Html.DisplayNameFor(model => model.update) class="btn btn-primary" />
                                <input type="reset" value=@Html.DisplayNameFor(model => model.reset) class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
                @{
                    string back_to_role_label = @Html.DisplayNameFor(model => model.back_to_roles).ToString();
                }
                <div>
                    @Html.ActionLink(back_to_role_label, "Index")
                </div>


            </div>
        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
@section scripts{
    <script src="~/js/jquery.js"></script>
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myGroup ul li a').click(function () {
                $('#myGroup ul li ul.collapse ').removeClass('in');
                $('#myGroup ul li').removeClass('active');
            });
        })
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}






