@using Wollo.Web.Models;
@using Microsoft.AspNet.Identity;
@model Wollo.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = @Html.DisplayNameFor(x => x.resetpassword);
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!DOCTYPE html>
@using System.Globalization
@using Wollo.Web
@using System.Threading;
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title = "Reward Point Exchange - SIGN-IN"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Magnific Popup-->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <!-- Cards -->
    <link rel="stylesheet" href="~/css/cards.css">

    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->


    <style>
        @@media only screen and (max-device-width: 786px) {
            .form-gg {
                padding: 31px 22px 14px;
                width: 90%;
            }
        }

        @@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
            .form-gg {
                width: 100%;
            }
        }

        .help-block ul {
            list-style-type: none;
        }

        #languagemenudesign {
            //color: white;
            font-size: medium;
            font-weight: 600;
            padding-left: 8px;
            padding-right: 8px;
            border: 0px;
            text-transform: capitalize;
        }
    </style>

</head>




<body class="login-page">

    <div id="wrpe-page">
        <nav class="wrpe-nav-style-1" role="navigation" data-offcanvass-position="wrpe-offcanvass-left">
            <div class="container">
                <div class="col-lg-6 col-md-5 col-sm-5 wrpe-link-wrap">
                    <ul data-offcanvass="yes">
                        @*<li><a href="index.html">Home</a></li>*@
                        <li><a href="/Home">@Html.LabelFor(model => model.home)</a></li>
                        @*<li>@Html.ActionLink(, "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
                        <li><a href="/Home/About">@Html.LabelFor(model => model.about_us)</a></li>
                        @*<li><a href="#">Blog</a></li>*@
                        <li><a href="/Home/Contact">@Html.LabelFor(model => model.contact_us)</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="languagemenudesign" data-toggle="dropdown">Language <b class="caret"></b></a>
                            <ul class="dropdown-menu alert-dropdown" id="ddmenualert" style="background-color: #0B7CF7; ">
                                @{
                                    CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
                                    <li><a href="/Home/ChangeCurrentCulture/0">English</a></li>
                                    @*<li><a href="/Home/ChangeCurrentCulture/1">Traditional Chinese</a></li>*@
                                    <li><a href="/Home/ChangeCurrentCulture/2">Simplified Chinese</a></li>
                                }
                            </ul>
                        </li>
                        @*@{
                                CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
                                <li><a href="/Account/Register">English</a></li>
                                <li><a href="/Account/ChangeCurrentCulture/1">Traditional Chinese</a></li>
                                <li><a href="/Account/ChangeCurrentCulture/2">Simplified Chinese</a></li>
                            }*@
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wrpe-logo">

                    <a href="#" class="js-wrpe-mobile-toggle wrpe-nav-toggle"><i></i></a>
                    @*<a href="/Home"><img src="~/images/Points_Exchange_Logo.png" /></a>*@
                    <a href="/Home"><img src="/images/Final_Points_Exchange_Logo.png" style="height:120px;width:120px;margin-top:-33px;" /></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 text-right wrpe-link-wrap">
                    <ul class="wrpe-special" data-offcanvass="yes">
                        <li class="active"><a href="/Account/Login">@Html.DisplayNameFor(model => model.login)</a></li>
                        @*<li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
                        <li><a href="/Account/Register" class="call-to-action">@Html.DisplayNameFor(model => model.register)</a></li>
                        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "call-to-action" })</li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <div class="wrpe-cover wrpe-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes">
            <div class="wrpe-overlay"></div>
            <div class="wrpe-cover-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12  col-xs-12 full-height js-full-height">
                            <div class="col-md-6 col-md-offset-3 form-gg">
                                @*<div class="modal-title"><h2>@Html.LabelFor(model => model.login)</h2></div>*@
                                <div class="modal-title"><h2>@Html.LabelFor(x => x.resetpassword)</h2></div>
                                <p class="text-success">@ViewBag.StatusMessage</p>
                                <section id="loginForm">
                                    @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <hr />
                                        <span class="help-block">
                                            @Html.ValidationSummary(true)
                                        </span>

                                        <fieldset class="form-group">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m=>m.UserName) })
                                            @Html.ValidationMessageFor(m => m.UserName)
                                        </fieldset>

                                        <fieldset class="form-group">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password) })
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </fieldset>
                                        <fieldset class="form-group">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <div>
                                                <input type="submit" value=@Html.DisplayNameFor(model=>model.submit) class="btn btn-primary" />
                                                <input type="reset" value=@Html.DisplayNameFor(model=>model.reset) class="btn btn-default" />
                                                @*<div><a href="" class="btn btn-primary btn-outline btn-lg">Login</a></div>*@

                                            </div>
                                        </fieldset>
                                        @*<fieldset class="form-group">
                                                <div>
                                                    <p>
                                                        @Html.ActionLink("Register", "Register") if you don't have an account.
                                                        @Html.ActionLink("Forgot Password", "ForgotPassword")
                                                    </p>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <a href="#"><img src="~/images/wollo.png"></a>
                                                <a href="#"><img src="~/images/w-chinese.png"></a>
                                            </fieldset>*@
                                    }
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrpe-footer-style-3">
        <div class="container">
            <div class="row p-b kill-padding">
                <div class="col-md-3 col-sm-6 wrpe-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <h3>GET TO KNOW POINTS </h3>
                    <ul class="wrpe-links" style="display:none;">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 wrpe-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <h3>OUR SERVICES & POLICIES</h3>
                    <ul class="wrpe-links" style="display:none;">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-sm-block"></div>
                @*<div class="col-md-3 col-sm-6 wrpe-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    <h3>Join us on</h3>
                    <ul class="wrpe-links wrpe-social">
                        <li><a href="/Home/Facebook"><img src="~/images/square-facebook-512.png" style="height:19%;width:10%;" /> Facebook</a></li>
                        <li><a href="/Home/Twitter"><img src="~/images/twitter1-512x490.png" style="height:19%;width:10%;" /> Twitter</a></li>
                    </ul>
                </div>*@
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-12 fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    <div class="footer-p">Powered By Digimatic Solutions &copy  copyright 2016. All Right Reserved. </div>
                </div>
            </div>
        </div>
        <!-- END footer -->

    </div>
    <!-- END page-->
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    @*<script src="~/js/jquery.js"></script>*@
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap
    <script src="~/js/bootstrap.min.js"></script>-->
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Owl Carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Stellar -->
    <script src="~/js/jquery.stellar.min.js"></script>
    <!-- countTo -->
    <script src="~/js/jquery.countTo.js"></script>
    <!-- WOW -->
    <script src="~/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myGroup ul li a').click(function () {
                $('#myGroup ul li ul.collapse ').removeClass('in');
                $('#myGroup ul li').removeClass('active');
            });
        })
        </script>
    <!-- Main -->
    <script src="~/js/main.js"></script>

</body>
</html>


